<template name="index">
    <div class="content index">
        <footer>
            <div class="conteiner-fluid">
                <div class="left-side col-sm-6 hidden-xs">
                    2016 &copy;
                    <a href="http://drabik.ru" target="_blank">Yuri Drabik</a>
                </div>
                <div class="right-side col-xs-12 col-sm-6 text-right">
                    <a href="mailto:info[@]instaphobia[.]com">info[@]instaphobia[.]com</a>
                </div>
            </div>
        </footer>
    </div>
</template>
