<template name="index">
    <div class="content index">
        <div class="tag-field-wrapper">
            <form id="indexForm" class="{{ formStatus }}">
                <i class="picon picon-hash"></i>
                <input type="text" name="tagField" id="indexTagField" autofocus
                    placeholder="{{_ 'global.tag-placeholder'}}" required>
                <button type="submit" class="btn-go" id="indexBtnGo" disabled>
                    <i class="picon picon-search"></i>
                </button>
            </form>
        </div>
    </div>
</template>
