<template name="index">
    <div class="content index">
        <div class="howto">
            <div class="block block1">
                <i class="picon picon-add-event"></i>
                <p>
                    Create your event <br>with unique hashtag
                </p>
            </div>
            <div class="block">
                <i class="picon picon-selfie"></i>
                <p>
                    Ask guests to post pics <br>to Instagram by your hashtag
                </p>
            </div>
            <div class="block">
                <i class="picon picon-screen"></i>
                <p>
                    Show new photos in realtime <br>on a big screen
                </p>
            </div>
            <div class="block">
                <i class="picon picon-party"></i>
                <p>
                    Enjoy your party <br>together!
                </p>
            </div>
        </div>
        <footer>
            <div class="conteiner-fluid">
                <div class="left-side col-sm-6 hidden-xs">
                    2016 &copy;
                    <a href="/" target="_blank">InstaPhobia</a>
                </div>
                <div class="right-side col-xs-12 col-sm-6 text-right">
                    <a href="mailto:info[@]instaphobia[.]com">info[@]instaphobia[.]com</a>
                </div>
            </div>
        </footer>
    </div>
</template>
