@import "../../_variables.scss";

.content.add-event {
    img.radio-select-img-item {
        border: solid 3px #ffffff;
        margin-right: 20px;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            border: solid 3px #adff2f;
        }
        &.item-checked {
            border: solid 3px #b3d4fc;
        }
    }
    .input-group-addon {
        position: absolute;
        display: block;
        z-index: 3;
        left: 15px;
        top: 0;
        width: 22px;
        text-align: right;
        border: none;
        background: none;
        padding: 0;
        color: #999999;
        line-height: 34px;
        box-shadow: none;
        & ~ .form-control {
            border-radius: 4px;
            padding-left: 22px;
        }
    }
}

@media only screen and (max-width: $screen-sm) {
    .content.add-event {
        img.radio-select-img-item {
            height: 40px;
            width: auto;
            margin-right: 5px;
        }
    }
}
