.eventlist {
    .tag {
        margin-left: 10px;
        font-style: italic;
        color: #ababab;
    }
    .delete-event-link,
    .edit-event-link {
        color: #cccccc;
        margin-left: 10px;
    }
}
