@import "../../_variables.scss";

.slideshow {
    height: calc(100vh - 50px);
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    .grids-dropdown {
        position: absolute;
        z-index: 2;
        left: 10px;
        top: 10px;
        opacity: 0.6;
        a:hover {
            text-decoration: none;
        }
        .dropdown-menu {
            min-width: auto;
        }
        img {
            height: 40px;
            width: auto;
        }
    }
    .slide-content {
        &[data-template="grid1"] {
            height: 100%;
            width: calc(150vh - 75px);
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .item {
                position: relative;
                display: block;
                flex: 1 0 auto;
            }
            .item0 {
                width: calc(100vh - 50px);
                height: 100%;
                flex-grow: 1;
            }
            .item1,
            .item2 {
                width: calc(50vh - 25px);
                height: calc(50vh - 25px);
            }
        }

        &[data-template="grid2"] {
            height: 100%;
            width: calc(100vh - 50px);
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            .item {
                position: relative;
                width: 50%;
                height: 50%;
                display: flex;
                align-items: center;
                align-content: center;
            }
        }

        &[data-template="grid3"] {
            height: 100%;
            width: calc(200vh - 100px);
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .item {
                position: relative;
                display: block;
                flex: 1 0 auto;
            }
            .item0,
            .item1 {
                width: calc(50vh - 25px);
                height: calc(50vh - 25px);
            }
            .item2 {
                width: calc(100vh - 50px);
                height: 100%;
                flex-grow: 1;
            }
            .item3,
            .item4 {
                width: calc(50vh - 25px);
                height: calc(50vh - 25px);
            }
        }

        .item {
            .slide-img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
            }
            .author {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                text-align: right;
                .avatar {
                    display: block;
                    width: 15%;
                    height: auto;
                    border-radius: 50%;
                    position: relative;
                    margin-right: 10px;
                    float: right;
                }
                .name {
                    color: #ffffff;
                    font-size: 1.2em;
                    display: inline-block;
                    position: relative;
                    clear: both;
                    float: right;
                    padding: 0 10px;
                    margin: 10px;
                    border-radius: 20px;
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    } // .slide-content
}

@media only screen and (max-width: $screen-xs) {
    .slideshow {
        .slide-content {
            &[data-template="grid1"] {
                height: 150vw;
                width: 100vw;
                flex-direction: row;
                margin-top: calc((100vh - 50px - 150vw)/2);
                .item0 {
                    width: 100vw;
                    height: 100vw;
                }
                .item1,
                .item2 {
                    width: 50vw;
                    height: 50vw;
                }
            }
            &[data-template="grid2"] {
                height: 100vw;
                width: 100vw;
                margin-top: calc((100vh - 50px - 100vw) / 2);
                .item {
                    width: 50vw;
                    height: 50vw;
                }
            }
            &[data-template="grid3"] {
                height: 200vw;
                width: 100vw;
                margin-top: calc((100vh - 50px - 200vw) / 2);
                flex-direction: row;
                .item0,
                .item1 {
                    width: 50vw;
                    height: 50vw;
                }
                .item2 {
                    width: 100vw;
                    height: 100vw;
                }
                .item3,
                .item4 {
                    width: 50vw;
                    height: 50vw;
                }
            }
            .item {
                .author {
                    .avatar {
                        margin-right: 5px;
                    }
                    .name {
                        font-size: 10px;
                        margin: 5px;
                    }
                }
            }
        }
    }
}
