<template name="addevent">
    <div class="content">
        <div class="container">
            {{#if currentUser }}
            <form class="form-horizontal" id="addEventForm">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="eventName">Event's name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="eventName" id="eventName"
                        placeholder="Billy's birthday 12.12.12" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="eventTag">Tag (#):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="eventTag" id="eventTag"
                        placeholder="BillysBirthday121212" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="saveEventBtn" class="btn btn-default btn-success" disabled>
                            <i class="fa fa-check"></i>
                            Save
                        </button>
                    </div>
                </div>
            </form>
            {{ else }}
                {{> errorlogin }}
            {{/if}}
        </div>
    </div>
</template>
