<template name="addevent">
    <div class="content add-event">
        <div class="container">
            <form class="form-horizontal" id="addEventForm">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="eventName">
                        {{_ 'add-event.event-name' }}:
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="eventName" id="eventName"
                        placeholder="{{_ 'add-event.event-name-placeholder' }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="eventTag">
                        {{_ 'add-event.tag' }}:
                    </label>
                    <div class="col-sm-10">
                        <span class="input-group-addon tag-prefield text-right">#</span>
                        <input type="text" class="form-control" name="eventTag" id="eventTag"
                            placeholder="{{_ 'add-event.tag-placeholder' }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="eventGrid">
                        {{_ 'add-event.grid' }}:
                    </label>
                    <div class="col-sm-10">
                        <input id="grid1" type="radio" name="gridName" value="grid1"
                            class="radioImageSelect" data-image="/images/grids/grid1.png" checked="checked">
                        <label for="grid1">{{_ 'add-event.grid' }} 1</label>
                        <input id="grid2" type="radio" name="gridName" value="grid2"
                            class="radioImageSelect" data-image="/images/grids/grid2.png" />
                        <label for="grid2">{{_ 'add-event.grid' }} 2</label>
                        <input id="grid3" type="radio" name="gridName" value="grid3"
                            class="radioImageSelect" data-image="/images/grids/grid3.png" />
                        <label for="grid3">{{_ 'add-event.grid' }} 3</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="saveEventBtn" class="btn btn-default btn-success" disabled>
                            <i class="picon picon-check"></i>
                            {{_ 'add-event.save' }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
