<template name="eventlist">
    <div class="content eventlist">
        <div class="container">
            <ul class="list-group">
                {{#if isEventExists}}
                    {{#each userEvents}}
                    <li class="list-group-item">
                        <a href="{{pathFor 'event' name}}" title="{{_ 'event-list.run-slideshow' }}">
                            {{ name }}
                        </a>
                        <span class="tag">
                            #{{ tag }}
                        </span>
                        <a class="delete-event-link pull-right" href="#" title="{{_ 'event-list.remove-event' }}">
                            <i class="fa fa-times" data-event="{{_id}}"></i>
                        </a>
                    </li>
                    {{/each}}
                {{else}}
                    <li class="list-group-item">
                        {{_ 'event-list.no-events'}}
                    </li>
                {{/if}}
            </ul>
            <div class="row event-new">
                <div class="col-xs-12">
                    <button id="addEvent" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        {{_ 'event-list.add-event' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
