<template name="eventlist">
    <div class="content">
        <div class="container">
            {{#if currentUser}}
            <ul class="list-group">
                {{#if isEventExists}}
                    {{#each userEvents}}
                    <li class="list-group-item">
                        <a href="/event/{{name}}" title="Go to slideshow">
                            {{name}}
                        </a>
                        <a class="delete-event-link pull-right" href="#" title="Remove event">
                            <i class="fa fa-times" data-event="{{_id}}"></i>
                        </a>
                    </li>
                    {{/each}}
                {{else}}
                    <li class="list-group-item">
                        Have no added events. Please add your event...
                    </li>
                {{/if}}
            </ul>
            <div class="row event-new">
                <div class="col-xs-12">
                    <button id="addEvent" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Add event
                    </button>
                </div>
            </div>
            {{else}}
                {{> errorlogin}}
            {{/if}}
        </div>
    </div>
</template>
