<template name="errorLogin">
    <div class="container top-padding">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        {{_ 'global.sorry-login'}}
                    </li>
                </ul>
                <button class="btn btn-info" id="addEventLoginBtn">
                    <i class="picon picon-instagram"></i>
                    {{_ 'global.sign-in'}} {{{_ 'global.with-instagram'}}}
                </button>
            </div>
        </div>
    </div>
</template>
