<template name="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="nav navbar-nav navbar-left">
                        <a class="navbar-brand" href="/">InstaPhobia</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="nav navbar-nav navbar-right" style="float:none !important;">
                        {{> loginButtons}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>
