<template name="header">
    {{#if Template.subscriptionsReady}}
    <nav class="navbar navbar-default" id="navPanel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a class="navbar-brand instaphobia-title" href="/">
                                InstaPhobia
                                <span class="beta">beta</span>
                            </a>
                        </li>
                        {{#if currentUser}}
                            <li>
                                <a href="{{pathFor route='eventlist'}}">
                                    My Events
                                </a>
                            </li>
                        {{/if}}
                        <li>
                            <a href="{{pathFor route='addevent'}}">
                                Add Event
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="nav navbar-nav pull-right">
                        {{#if currentUser}}
                            <li>
                                <img src="{{ userPic }}" class="user-avatar" alt="Profile">
                                <a href="/profile">
                                    {{ userName }}
                                </a>
                            </li>
                            <li>
                                <a href="#" id="logoutBtn">
                                    Logout
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                        {{ else }}
                            <li>
                                <button type="button" id="loginBtn" class="btn btn-info navbar-btn">
                                    <i class="fa fa-instagram"></i>
                                    Login with Instagram
                                </button>
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {{/if}}
</template>
