<template name="header">
    {{#if Template.subscriptionsReady}}
    <nav class="navbar navbar-default" id="navPanel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a class="navbar-brand instaphobia-title" href="/">
                                <img src="/images/logo-small.png" class="logo-img" alt="Logo">
                                InstaPhobia
                                <span class="beta">beta</span>
                            </a>
                        </li>
                        {{#if currentUser}}
                            <li>
                                <a href="{{pathFor route='eventlist'}}">
                                    My Events
                                </a>
                            </li>
                        {{/if}}
                        <li>
                            <a href="{{pathFor route='addevent'}}">
                                Add Event
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="nav navbar-nav pull-right">
                        {{#if currentUser}}
                            <li class="dropdown">
                                <img src="{{ userPic }}" class="user-avatar" alt="Profile">
                                <a href="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    {{ userName }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{pathFor route='profile'}}">
                                            <i class="fa fa-user"></i>
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" id="logoutBtn">
                                            <i class="fa fa-times"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {{ else }}
                            <li>
                                <button type="button" id="loginBtn" class="btn btn-info navbar-btn">
                                    <i class="fa fa-instagram"></i>
                                    Login with Instagram
                                </button>
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {{/if}}
</template>
