<template name="notFound">
    <div class="container top-padding">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        {{_ 'global.error-404-msg' }}
                        <a href="{{pathFor route='home'}}" title="{{_ 'global.go-home' }}">
                            {{_ 'global.go-home' }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
