<template name="notFound">
    <div class="container top-padding">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        Welcome to 404 page! This page is not found...
                        <a href="{{pathFor route='home'}}" title="Go to main page">
                            Go home..
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
