@import "../variables.scss";

.content.index {
    background-image: url('/images/index-bg.jpg');
    position: relative;
    height: calc(100vh - 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .tag-field-wrapper {
        display: block;
        position: relative;
        max-width: 400px;
        min-width: 200px;
        width: 90%;
        height: 50px;
        font-size: 2.4rem;
        line-height: 50px;
        form {
            position: relative;
            display: block;
            width: 100%;
            white-space: normal;
            label.error {
                display: block;
                position: absolute;
                bottom: -30px;
                height: 30px;
                width: 100%;
                left: 0;
                background-color: rgba(0,0,0,0.5);
                color: #ffffff;
                line-height: 30px;
                padding: 0 10px;
                font-size: 1.4rem;
                margin: 0;
            }
        }
        .picon-hash {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 30px;
            height: 50px;
            text-align: right;
            color: darken($gray, 30%);
            line-height: 50px;
        }
        input {
            display: inline-block;
            vertical-align: top;
            padding: 0 10px 0 30px;
            border: 1px solid $gray;
            width: calc(100% - 70px);
            height: 50px;
        }
        .btn-go {
            float: right;
            width: 70px;
            height: 50px;
            background-color: $main-color;
            color: #ffffff;
            text-align: center;
            border: 1px solid #666;
            transition: all 0.3s ease-in;
            &:hover {
                background-color: lighten($main-color, 10%);
            }
        }
    }

}

@media only screen and (max-width: $screen-sm) {
    .content.index {

    }
}
