@import "_variables.scss";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Asap', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

*::placeholder {
    color: #ccc;
}

.container.top-padding {
    padding-top: 30px;
}

#navPanel {
    background-color: $gray-light;
    margin: 0;
    border: none;
    border-radius: 0;
    min-height: 40px;
    height: 40px;
    z-index: 2;
    .navbar-nav {
        margin: 0;
    }
    .nav-left,
    .nav-right {
        white-space: nowrap;
        overflow: visible;
        display: inline-block;
    }
    .visible-md {
        display: inline-block !important;
    }
    .logo-img {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 5px 0;
        height: 30px;
        width: auto;
    }
    .btn {
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        margin: 5px 0;
        font-size: 1.4rem;
    }
    .dropdown {
        display: inline-block;
        vertical-align: middle;
        &.langs {
            text-transform: uppercase;
            text-align: right;
            >a {
                padding: 0;
            }
        }
    }
    .dropdown-menu {
        min-width: auto;
        left: auto;
        right: 0;
        padding: 0;
        li {
            padding: 0 15px;
            a {
                display: block;
                padding: 0;
                line-height: 35px;
                .picon {
                    font-size: inherit;
                }
                &:hover {
                    background: none;
                }
            }
            &:hover {
                background-color: #d4d4d4;
            }
            .flag-img {
                height: 15px;
                width: auto;
                position: relative;
                top: -2px;
            }
        }
    }
    li {
        font-size: 1.4rem;
        &.menu-item {
            display: inline-block;
            margin: 0 15px;
        }
        a {
            display: inline-block;
            font-size: 1.4rem;
            line-height: 40px;
            padding: 0;
            font-family: 'Cantarell', 'Asap', Arial, sans-serif;
            .picon {
                font-size: 27px;
                vertical-align: middle;
                position: relative;
                top: -2px;
            }
            &.instaphobia-title {
                font-family: 'billabongregular', Arial, sans-serif;
                margin: 0;
                padding: 0;
                font-size: 30px;
                line-height: 60px;
                color: $main-color;
                white-space: nowrap;
                display: inline-block;
                height: 40px;
                .beta {
                    position: relative;
                    top: -12px;
                    font-size: 0.6em;
                    color: #666666;
                }
            }
        }
        &.sign-in {
            display: inline-block;
        }
    }
    .user-avatar {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        position: relative;
        height: 30px;
        width: auto;
        border-radius: 5px;
    }
    #headerFormLi {
        display: inline-block;
        position: relative;
        width: auto;
        height: 40px;
        padding: 0;
        font-size: 1.6rem;
        line-height: 30px;
        form {
            position: relative;
            display: inline-block;
            vertical-align: top;
            height: 30px;
            margin: 5px 0;
            white-space: normal;
        }
        .picon-hash {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 25px;
            height: 30px;
            text-align: right;
            color: darken($gray, 30%);
            line-height: 30px;
        }
        input {
            display: inline-block;
            vertical-align: top;
            padding: 0 10px 0 25px;
            border: 1px solid $gray;
            width: 200px;
            height: 30px;
        }
        .btn-go {
            width: 50px;
            height: 30px;
            float: right;
            font-size: 1.3rem;
            background-color: $main-color;
            color: #ffffff;
            text-align: center;
            border: 1px solid #666;
            transition: all 0.3s ease-in;
            &:hover {
                background-color: lighten($main-color, 10%);
            }
        }
        .grids-dropdown {
            opacity: 0.6;
            height: 40px;
            vertical-align: top;
            a {
                line-height: 40px;
                height: 40px;
                &:hover {
                    text-decoration: none;
                }
            }
            .dropdown-menu {
                min-width: auto;
                margin-top: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                li {
                    padding: 0;
                    a {
                        padding: 0 15px;
                    }
                    &.active {
                        a {
                            background-color: $gray;
                        }
                    }
                }
            }
            img {
                height: 30px;
                width: auto;
                margin: 5px 0;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}

.content {
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}

@media only screen and (max-width: $screen-md) {
    #navPanel {
        .visible-md {
            display: none !important;
        }
    }
}

@media only screen and (max-width: $screen-sm) {
    #navPanel {
        .dropdown-menu {
            position: absolute;
            top: 40px;
            padding: 0;
            background-color: #ffffff;
            box-shadow: 0 1px 3px #666666;
        }
    }
}

@media only screen and (max-width: $screen-xs) {
    #navPanel {
        li {
            &.dropdown {
                a {
                    padding: 0;
                    min-width: 55px;
                }
            }
            a.instaphobia-title {
                font-size: 25px;
                line-height: 65px;
            }
        }
    }
    .container.top-padding {
        padding-top: 20px;
    }
}
