@import "_variables.scss";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Asap', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.container.top-padding {
    padding-top: 30px;
}

#navPanel {
    background-color: $gray-light;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    min-height: 40px;
    .navbar-nav {
        margin: 0;
    }
    .nav-left,
    .nav-right {
        white-space: nowrap;
        overflow: visible;
        display: inline-block;
    }
    .visible-md {
        display: inline-block !important;
    }
    .logo-img {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 5px 0;
        height: 30px;
        width: auto;
    }
    .btn {
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        margin: 5px 0;
        font-size: 1.4rem;
    }
    .dropdown {
        display: inline-block;
        vertical-align: middle;
        &.langs {
            text-transform: uppercase;
            text-align: right;
            >a {
                padding: 0;
            }
        }
    }
    .dropdown-menu {
        min-width: auto;
        left: auto;
        right: 0;
        padding: 0;
        li {
            padding: 0 15px;
            a {
                display: block;
                padding: 0;
                line-height: 35px;
                .picon {
                    font-size: inherit;
                }
                &:hover {
                    background: none;
                }
            }
            &:hover {
                background-color: #d4d4d4;
            }
            .flag-img {
                height: 15px;
                width: auto;
                position: relative;
                top: -2px;
            }
        }
    }
    li {
        font-size: 1.4rem;
        &.menu-item {
            display: inline-block;
            margin: 0 15px;
        }
        a {
            display: inline-block;
            font-size: 1.4rem;
            line-height: 40px;
            padding: 0;
            font-family: 'Cantarell', 'Asap', Arial, sans-serif;
            .picon {
                font-size: 27px;
                vertical-align: middle;
                position: relative;
                top: -2px;
            }
            &.instaphobia-title {
                font-family: 'billabongregular', Arial, sans-serif;
                margin: 0;
                padding: 0;
                font-size: 30px;
                line-height: 60px;
                color: #040491;
                white-space: nowrap;
                display: inline-block;
                height: 40px;
                .beta {
                    position: relative;
                    top: -12px;
                    font-size: 0.6em;
                    color: #666666;
                }
            }
        }
        &.sign-in {
            display: inline-block;
        }
    }
    .user-avatar {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        position: relative;
        height: 30px;
        width: auto;
        border-radius: 5px;
    }
}

.content {
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}

@media only screen and (max-width: $screen-md) {
    #navPanel {
        .visible-md {
            display: none !important;
        }
    }
}

@media only screen and (max-width: $screen-sm) {
    #navPanel {
        .dropdown-menu {
            position: absolute;
            top: 40px;
            padding: 0;
            background-color: #ffffff;
            box-shadow: 0 1px 3px #666666;
        }
    }
}

@media only screen and (max-width: $screen-xs) {
    #navPanel {
        li {
            &.dropdown {
                a {
                    padding: 0;
                    min-width: 55px;
                }
            }
            a.instaphobia-title {
                font-size: 25px;
                line-height: 65px;
            }
        }
    }
    .container.top-padding {
        padding-top: 20px;
    }
}
