@import "_variables.scss";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Asap', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.container.top-padding {
    padding-top: 30px;
}

#navPanel {
    background-color: #f4f4f4;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    .navbar-nav {
        margin: 0;
    }
    .logo-img {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 10px 0;
        height: 30px;
        width: auto;
    }
    .dropdown-menu {
        min-width: auto;
        left: auto;
        right: 0;
        li {
            a {
                line-height: 25px;
            }
        }
    }
    li {
        a {
            display: inline-block;
            font-size: 1.2em;
            padding: 0 15px;
            line-height: 50px;
            font-family: 'Cantarell', 'Asap', Arial, sans-serif;
            &.instaphobia-title {
                font-family: 'billabongregular', Arial, sans-serif;
                margin: 0;
                padding: 0 15px;
                font-size: 40px;
                line-height: 70px;
                color: #040491;
                white-space: nowrap;
                .beta {
                    position: relative;
                    top: -12px;
                    font-size: 0.6em;
                    color: #666666;
                }
            }
        }
    }
    .user-avatar {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        position: relative;
        height: 40px;
        width: auto;
        border-radius: 5px;
    }
}

.content {
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}

@media only screen and (max-width: $screen-sm) {
    #navPanel {
        .dropdown-menu {
            position: absolute;
            top: 50px;
            padding: 5px 15px;
            background-color: #ffffff;
            box-shadow: 0 1px 3px #666666;
        }
    }
}

@media only screen and (max-width: $screen-xs) {
    #navPanel {
        li {
            &.dropdown {
                a {
                    padding: 0;
                    min-width: 55px;
                }
            }
            a.instaphobia-title {
                font-size: 25px;
                line-height: 65px;
            }
        }
    }
    .container.top-padding {
        padding-top: 20px;
    }
}
